i {
    color: white;
    font-size: 1.4rem;
}

.color-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1.5rem;
    height: 85vh;
}

.color-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.color-panel__color {
    height: 50px;
    width: 100%;
}

.color-panel__colors {
    height: 100%;
    flex-grow: 1;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.color-panel__shade {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-panel__shade p {
    color: white;
    text-transform: uppercase;
}

.color-panel__details p{
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}

.palette__colors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
}

.palette__name {
    text-align: center;
    padding: 1rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__container {
    background: white;
    border-radius: 5px;
    min-width: 500px;
    padding: 1rem;
} 

.slider {
    width: 100%;
    display: block;
}

.color__preview {
    height: 50px;
    width: 100%;
}


.palette-horizontal {
    margin-bottom: 1rem;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.palette-horizontal__color {
    height: 100%;
    width: 80px;
}

.palette-card {
    flex-grow: 1;
    margin: 1rem;
}

.palette-card__colors {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.palette-card__color {
    flex-grow: 1;
    min-width: 80px;
    min-height: 80px;
}

.palette-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.scss-view {
    border: 1px solid rgb(220, 220, 220);
}